* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Yellow border */
html {
	background-color: #f4d93a;
	padding: .3em;
}
@media (min-width: 47em) {
	html {
		padding: 1em;
	}
}

/* Layout */
.rail {
	text-align: center;
	padding: 2em;
}
.content {
	text-align: left;
	padding: 1em;
	background-color: #fff;
	background-color: rgba(255,255,255,.6);
	min-height: 40em;
}
.main {
	max-width: 36em;
	margin: 0 auto;
}

@media (min-width: 47em) {
	.rail {
		text-align: left;
		position: absolute;
		left: 0;
		top: 0;
		padding: 4em 0 0 3em;
	}
	.content {
		padding: 2em;
		margin-left: 18em;
	}
}

/* App specific */
body {
	font-family: Questrial, Helvetica Neue, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #eee;
	background-image: url(../img/bg/grid.png);
	font-size: 100%;
	line-height: 140%;
}
h1 {
	color: #222;
	font-size: 2.4em;
	line-height: 110%;
}
h1:first-child {
	margin-top: 0;
}
code {
	font-family: Consolas, monospace;
	font-size: .875em;
}

/* Social links */
.social {
	display: block;
	max-width: 14em;
	text-align: left;
	border-radius: .3em;
	margin: 0 auto;

	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
@media (min-width: 47em) {
	.social {
		margin: 0;
	}
}
.social a:first-child {
	border-radius: .3em .3em 0 0;
}
.social a:last-child {
	border-radius: 0 0 .3em .3em;
}
.social:hover,
.social:focus {
	background-color: #fff;
	background-color: rgba(255,255,255,.5);
}
.social a {
	text-decoration: none;
	display: inline-block;
	padding: .4em 1em;
	width: 100%;
	opacity: .9;
	font-size: 1.25em;
	line-height: 220%;
}
.social i {
	font-size: 2em;
	vertical-align: middle;
	margin-right: .2em;
}
.social a:hover,
.social a:focus {
	opacity: 1;
	background-color: #fff;
	font-weight: bold;
}
.social a:focus {
	outline: 1px dotted #fff;
}
.social a:link,
.social a:visited {
	color: #999;
}
.github:link:hover,
.github:link:focus,
.github:visited:hover,
.github:visited:focus {
	color: #000;
}
.facebook:link:hover,
.facebook:link:focus,
.facebook:visited:hover,
.facebook:visited:focus {
	color: #38539b;
}
.twitter:link:hover,
.twitter:link:focus,
.twitter:visited:hover,
.twitter:visited:focus {
	color: #00c9ff;
}
.googleplus:link:hover,
.googleplus:link:focus,
.googleplus:visited:hover,
.googleplus:visited:focus {
	color: #ec3a1f;
}
.meetup:link:hover,
.meetup:link:focus,
.meetup:visited:hover,
.meetup:visited:focus {
	color: #e51937;
}
.social.other {
	margin-top: 1em;
}
.social.other a {
	padding: .4em 1em;
	font-size: 1em;
	line-height: 160%;
}
.social.other a:focus,
.social.other a:hover {
	font-weight: normal;
}

/* banner logo */
.nejs-title {
	position: relative;
	width: 100%;
	display: block;
	margin: 0 auto 3em;
	text-decoration: none;
	max-width: 20em;
}
@media (min-width: 47em) {
	.nejs-title {
		max-width: 14em;
	}
}
.nejs-title h1 {
	font-size: 1.8em;
	text-align: center;
}
.nejs-title:focus .nejs-title-img,
.nejs-title:active .nejs-title-img,
.nejs-title:hover .nejs-title-img {
	opacity: 1;
	-webkit-filter: grayscale(0%);
}
.nejs-title-img {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-mask-image: url(../img/nebraska-outline-with-text-transparent.svg);
	-webkit-filter: grayscale(100%);
	opacity: .1;
}
.nejs-title-img {
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	transition: opacity 1s;
}

.nejs-title-img,
.nejs-title object {
	width: 100%;
	z-index: 1;
}

/* Posts and Content */
.posts,
.events {
	list-style: none;
	margin: 0;
	padding: 0;
}
.posts li,
.events li {
	padding: 0.5em 0;
}
.posts a,
.events a {
	font-weight: bold;
	font-size: 1.6em;
	line-height: 110%;
}
.presenters {
	list-style: disc;
}

/* FitVids */
.fluid-width-video-wrapper {
	width: 100%;
	position: relative;
	padding: 0;
	padding-top: 56.25%;
}
.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}