.nejs-title {
	width: 160px;
	margin-left: 2em;
}
.nejs-title img {
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 1s;
	-moz-transform-style: preserve-3d;
	-moz-transition: all 1s;
	transform-style: preserve-3d;
	transition: all 1s;
}
.nejs-title img:first-child {
	-webkit-transform: rotate3d(1, 1, 1, -90deg);
	-moz-transform: rotate3d(1, 1, 1, -90deg);
	transform: rotate3d(1, 1, 1, -90deg);
	z-index: 2;
}
.nejs-title img:first-child + img {
	-webkit-transform: rotate3d(1, 1, 1, -75deg);
	-moz-transform: rotate3d(1, 1, 1, -75deg);
	transform: rotate3d(1, 1, 1, -75deg);
	z-index: 3;
}
.nejs-title img:first-child + img + img {
	-webkit-transform: rotate3d(1, 1, 1, -60deg);
	-moz-transform: rotate3d(1, 1, 1, -60deg);
	transform: rotate3d(1, 1, 1, -60deg);
	z-index: 4;
}
.nejs-title img:first-child + img + img + img {
	-webkit-transform: rotate3d(1, 1, 1, -45deg);
	-moz-transform: rotate3d(1, 1, 1, -45deg);
	transform: rotate3d(1, 1, 1, -45deg);
	z-index: 5;
}
.nejs-title img:first-child + img + img + img + img {
	-webkit-transform: rotate3d(1, 1, 1, -30deg);
	-moz-transform: rotate3d(1, 1, 1, -30deg);
	transform: rotate3d(1, 1, 1, -30deg);
	z-index: 6;
}
.nejs-title img:first-child + img + img + img + img + img {
	-webkit-transform: rotate3d(1, 1, 1, -15deg);
	-moz-transform: rotate3d(1, 1, 1, -15deg);
	transform: rotate3d(1, 1, 1, -15deg);
	z-index: 7;
}
.nejs-title img:first-child + img + img + img + img + img + img {
	-webkit-transform: rotate3d(1, 1, 1, 0deg);
	-moz-transform: rotate3d(1, 1, 1, 0deg);
	transform: rotate3d(1, 1, 1, 0deg);
	z-index: 8;
}
.nejs-title:active img:first-child,
.nejs-title:hover img:first-child {
	-webkit-transform: rotate3d(1, 1, 1, -30deg);
	-moz-transform: rotate3d(1, 1, 1, -30deg);
	transform: rotate3d(1, 1, 1, -30deg);
}
.nejs-title:active img:first-child + img,
.nejs-title:hover img:first-child + img {
	-webkit-transform: rotate3d(1, 1, 1, -15deg);
	-moz-transform: rotate3d(1, 1, 1, -15deg);
	transform: rotate3d(1, 1, 1, -15deg);
}
.nejs-title:active img:first-child + img + img,
.nejs-title:hover img:first-child + img + img {
	-webkit-transform: rotate3d(1, 1, 1, 0deg);
	-moz-transform: rotate3d(1, 1, 1, 0deg);
	transform: rotate3d(1, 1, 1, 0deg);
}
.nejs-title:active img:first-child + img + img + img,
.nejs-title:hover img:first-child + img + img + img {
	-webkit-transform: rotate3d(1, 1, 1, 15deg);
	-moz-transform: rotate3d(1, 1, 1, 15deg);
	transform: rotate3d(1, 1, 1, 15deg);
}
.nejs-title:active img:first-child + img + img + img + img,
.nejs-title:hover img:first-child + img + img + img + img {
	-webkit-transform: rotate3d(1, 1, 1, 30deg);
	-moz-transform: rotate3d(1, 1, 1, 30deg);
	transform: rotate3d(1, 1, 1, 30deg);
}
.nejs-title:active img:first-child + img + img + img + img + img,
.nejs-title:hover img:first-child + img + img + img + img + img {
	-webkit-transform: rotate3d(1, 1, 1, 45deg);
	-moz-transform: rotate3d(1, 1, 1, 45deg);
	transform: rotate3d(1, 1, 1, 45deg);
}
.nejs-title:active img:first-child + img + img + img + img + img + img,
.nejs-title:hover img:first-child + img + img + img + img + img + img {
	-webkit-transform: rotate3d(1, 1, 1, 60deg);
	-moz-transform: rotate3d(1, 1, 1, 60deg);
	transform: rotate3d(1, 1, 1, 60deg);
}