<ol class="presenters">

	<li class="alassek count-1">
		<a href="https://github.com/alassek/">
			<img src="https://secure.gravatar.com/avatar/2a1bbd7c752e84764571f2e814f04259?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="Adam Lassek">
			<span class="name">Adam Lassek</span>
		</a>
		<a href="https://github.com/alassek/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/alassek/"><i class="foundicon-twitter"></i></a>

		<a href="http://lyconic.com/blog">Blog</a>

	</li>

</ol>