<ol class="presenters">

	<li class="alassek count-1">

		<a href="https://github.com/alassek/">

			<img src="https://gravatar.com/avatar/2a1bbd7c752e84764571f2e814f04259?d=https%3A%2F%2Fidenticons.github.com%2F1d5185083e4eb1c1b960a98994e08afc.png&r=x" alt="Adam Lassek">
			<span class="name">Adam Lassek</span>
		</a>

		<a href="https://github.com/alassek/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/alassek/"><i class="foundicon-twitter"></i></a>


		<a href="http://lyconic.com/blog">Blog</a>

	</li>

</ol>