<ol class="presenters">

	<li class="alexpgates count-1">

		<a href="https://github.com/alexpgates/">

			<img src="https://2.gravatar.com/avatar/b5a8049befdfe8aaebf5a6cece4e9126?d=https%3A%2F%2Fidenticons.github.com%2Ff5e080332ed8645988e7225a23353a3a.png&r=x" alt="Alex P. Gates">
			<span class="name">Alex P. Gates</span>
		</a>

		<a href="https://github.com/alexpgates/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/alexpgates/"><i class="foundicon-twitter"></i></a>


		<a href="http://whatcheer.com">Blog</a>

	</li>

</ol>