<ol class="presenters">

	<li class="BruceCoddington count-1">

		<a href="https://github.com/BruceCoddington/">

			<img src="https://gravatar.com/avatar/4a2cbfe1751d189b097cb7000edbb142?d=https%3A%2F%2Fidenticons.github.com%2Faae8a23a0d1f5b5054c732e86cecc4b6.png&r=x" alt="Bruce Coddington">
			<span class="name">Bruce Coddington</span>
		</a>

		<a href="https://github.com/BruceCoddington/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/BruceCoddington/"><i class="foundicon-twitter"></i></a>


	</li>

</ol>