<ol class="presenters">

	<li class="cfaddict count-1">

		<a href="https://github.com/cfaddict/">

			<img src="https://gravatar.com/avatar/9c9e876f010fd45cb3435666871891ec?d=https%3A%2F%2Fidenticons.github.com%2Fac4df8bd78df6bde44ba43d123ad9770.png&r=x" alt="Dan Vega">
			<span class="name">Dan Vega</span>
		</a>

		<a href="https://github.com/cfaddict/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/cfaddict/"><i class="foundicon-twitter"></i></a>


		<a href="http://www.danvega.org/blog ">Blog</a>

	</li>

</ol>