<ol class="presenters">

	<li class="codyjames count-1">

		<a href="https://github.com/codyjames/">

			<img src="https://gravatar.com/avatar/668b29ffd82f27e42d29561145b4e61a?d=https%3A%2F%2Fidenticons.github.com%2Fcdc02e16eb75db678b1dfb00b1d7e5b3.png&r=x&s=80" alt="Cody Peterson">
			<span class="name">Cody Peterson</span>
		</a>

		<a href="https://github.com/codyjames/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/codypeterson/"><i class="foundicon-twitter"></i></a>


		<a href="http://codyjamespeterson.com">Blog</a>

	</li>

</ol>