<ol class="presenters">

	<li class="codyjames count-1">
		<a href="https://github.com/codyjames/">
			<img src="https://secure.gravatar.com/avatar/668b29ffd82f27e42d29561145b4e61a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="Cody Peterson">
			<span class="name">Cody Peterson</span>
		</a>
		<a href="https://github.com/codyjames/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/codypeterson/"><i class="foundicon-twitter"></i></a>

		<a href="http://codyjamespeterson.com">Blog</a>

	</li>

</ol>