<ol class="presenters">

	<li class="collinforrester count-1">

		<a href="https://github.com/collinforrester/">

			<img src="https://2.gravatar.com/avatar/08c356a216f73b39cf106cf3150faa1a?d=https%3A%2F%2Fidenticons.github.com%2F512715ba26576075e31e9780554ce63f.png&r=x" alt="">
			<span class="name"></span>
		</a>

		<a href="https://github.com/collinforrester/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/cforrester07/"><i class="foundicon-twitter"></i></a>


	</li>

</ol>