<ol class="presenters">

	<li class="eliperelman count-4">
		<a href="https://github.com/eliperelman/">
			<img src="https://0.gravatar.com/avatar/8dc4af17fcbc9d8c1919462680e46c5a?d=https%3A%2F%2Fidenticons.github.com%2Ff52034904f2a8a6a12a10c1fb23e2147.png" alt="Eli Perelman">
			<span class="name">Eli Perelman</span>
		</a>
		<a href="https://github.com/eliperelman/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/eliperelman/"><i class="foundicon-twitter"></i></a>

		<a href="http://eliperelman.com">Blog</a>

	</li>

</ol>