<ol class="presenters">

	<li class="jdsharp count-Infinity">
		<a href="https://github.com/jdsharp/">
			<img src="https://0.gravatar.com/avatar/14a58b5be276301bd1b1a92ff07077a4?d=https%3A%2F%2Fidenticons.github.com%2F6a75253d8b314a41530698f59f7edd5a.png" alt="Jonathan Sharp">
			<span class="name">Jonathan Sharp</span>
		</a>
		<a href="https://github.com/jdsharp/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/jdsharp/"><i class="foundicon-twitter"></i></a>

		<a href="http://twitter.com/jdsharp">Blog</a>

	</li>

</ol>