<ol class="presenters">

	<li class="jerodsanto count-2">

		<a href="https://github.com/jerodsanto/">

			<img src="https://gravatar.com/avatar/37f5b02845d2bfa71641ec9736d58061?d=https%3A%2F%2Fidenticons.github.com%2F9f655cc8884fda7ad6d8a6fb15cc001e.png&r=x&s=80" alt="Jerod Santo">
			<span class="name">Jerod Santo</span>
		</a>

		<a href="https://github.com/jerodsanto/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/jerodsanto/"><i class="foundicon-twitter"></i></a>


		<a href="http://jerodsanto.net">Blog</a>

	</li>

</ol>