<ol class="presenters">

	<li class="jgchristopher count-1">
		<a href="https://github.com/jgchristopher/">
			<img src="https://1.gravatar.com/avatar/0d634ca90d58ba262b42ebd6ba97268a?d=https%3A%2F%2Fidenticons.github.com%2Ff6026b2fee4a55c46ac4618a77825d6d.png" alt="John Christopher">
			<span class="name">John Christopher</span>
		</a>
		<a href="https://github.com/jgchristopher/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/jgchristopher/"><i class="foundicon-twitter"></i></a>

	</li>

</ol>