<ol class="presenters">

	<li class="jhannah count-2">

		<a href="https://github.com/jhannah/">

			<img src="https://gravatar.com/avatar/bf8de7ddc274900e168ea776b37c4c31?d=https%3A%2F%2Fidenticons.github.com%2F361e9cefdfa50cc12703feec475fa611.png&r=x&s=80" alt="Jay Hannah">
			<span class="name">Jay Hannah</span>
		</a>

		<a href="https://github.com/jhannah/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/deafferret/"><i class="foundicon-twitter"></i></a>


		<a href="http://jays.net">Blog</a>

	</li>

</ol>