<ol class="presenters">

	<li class="jmhobbs count-1">
		<a href="https://github.com/jmhobbs/">
			<img src="https://secure.gravatar.com/avatar/1d85dfb12d57d182c3e870b46390d384?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="John Hobbs">
			<span class="name">John Hobbs</span>
		</a>
		<a href="https://github.com/jmhobbs/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/jmhobbs/"><i class="foundicon-twitter"></i></a>

		<a href="http://www.velvetcache.org/">Blog</a>

	</li>

</ol>