<ol class="presenters">

	<li class="jmhobbs count-1">
		<a href="https://github.com/jmhobbs/">
			<img src="https://2.gravatar.com/avatar/1d85dfb12d57d182c3e870b46390d384?d=https%3A%2F%2Fidenticons.github.com%2F5f2484cfb8073580c9136f7a8894734e.png" alt="John Hobbs">
			<span class="name">John Hobbs</span>
		</a>
		<a href="https://github.com/jmhobbs/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/jmhobbs/"><i class="foundicon-twitter"></i></a>

		<a href="http://www.velvetcache.org/">Blog</a>

	</li>

</ol>