<ol class="presenters">

	<li class="loktar00 count-1">

		<a href="https://github.com/loktar00/">

			<img src="https://2.gravatar.com/avatar/710a392a974ed826ed96407788e0df5e?d=https%3A%2F%2Fidenticons.github.com%2F5b23b9971d12dab6a2dba32c531ab7ee.png&r=x" alt="Jason Brown">
			<span class="name">Jason Brown</span>
		</a>

		<a href="https://github.com/loktar00/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/loktar00/"><i class="foundicon-twitter"></i></a>


		<a href="http://www.somethinghitme.com">Blog</a>

	</li>

</ol>