<ol class="presenters">

	<li class="mattdsteele count-1">

		<a href="https://github.com/mattdsteele/">

			<img src="https://2.gravatar.com/avatar/911466eedb687b909f7e66816223ceb2?d=https%3A%2F%2Fidenticons.github.com%2Fe6b47ab560b9ad53067c46d0ae4d04e5.png&r=x" alt="Matt Steele">
			<span class="name">Matt Steele</span>
		</a>

		<a href="https://github.com/mattdsteele/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/mattdsteele/"><i class="foundicon-twitter"></i></a>


		<a href="http://matthew-steele.com">Blog</a>

	</li>

</ol>