<ol class="presenters">

	<li class="mattdsteele count-1">
		<a href="https://github.com/mattdsteele/">
			<img src="https://secure.gravatar.com/avatar/911466eedb687b909f7e66816223ceb2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="Matt Steele">
			<span class="name">Matt Steele</span>
		</a>
		<a href="https://github.com/mattdsteele/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/mattdsteele/"><i class="foundicon-twitter"></i></a>

		<a href="http://matthew-steele.com">Blog</a>

	</li>

</ol>