<ol class="presenters">

	<li class="nicholaspetersen count-1">

		<a href="https://github.com/nicholaspetersen/">

			<img src="https://gravatar.com/avatar/e43aa56137bb54a636aaafa278103729?d=https%3A%2F%2Fidenticons.github.com%2Fef50fda8f5cd041f9f47b5ab5cda722d.png&r=x&s=80" alt="">
			<span class="name"></span>
		</a>

		<a href="https://github.com/nicholaspetersen/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/lessis/"><i class="foundicon-twitter"></i></a>


	</li>

</ol>