<ol class="presenters">

	<li class="nicknisi count-2">
		<a href="https://github.com/nicknisi/">
			<img src="https://secure.gravatar.com/avatar/202775f26bf746fee64e08d58645f475?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="Nick Nisi">
			<span class="name">Nick Nisi</span>
		</a>
		<a href="https://github.com/nicknisi/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/nicknisi/"><i class="foundicon-twitter"></i></a>

		<a href="http://nicknisi.com">Blog</a>

	</li>

</ol>