<ol class="presenters">

	<li class="nicknisi count-5">

		<a href="https://github.com/nicknisi/">

			<img src="https://gravatar.com/avatar/202775f26bf746fee64e08d58645f475?d=https%3A%2F%2Fidenticons.github.com%2F9cd91022d08b588b0a6e468a436bf56b.png&r=x" alt="Nick Nisi">
			<span class="name">Nick Nisi</span>
		</a>

		<a href="https://github.com/nicknisi/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/nicknisi/"><i class="foundicon-twitter"></i></a>


		<a href="http://nicknisi.com">Blog</a>

	</li>

</ol>