<ol class="presenters">

	<li class="paulgraff count-1">

		<a href="https://github.com/paulgraff/">

			<img src="https://gravatar.com/avatar/a0cc26ecd8a7851980ebd300a86eb914?d=https%3A%2F%2Fidenticons.github.com%2Fe3845a77bdebbb5e64b5be084cef53e6.png&r=x&s=80" alt="Paul Graff">
			<span class="name">Paul Graff</span>
		</a>

		<a href="https://github.com/paulgraff/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/paulgraff/"><i class="foundicon-twitter"></i></a>


		<a href="http://wootbro.com">Blog</a>

	</li>

</ol>