<ol class="presenters">

	<li class="jdsharp">
		<a href="https://github.com/jdsharp/">
			<img src="https://secure.gravatar.com/avatar/14a58b5be276301bd1b1a92ff07077a4?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="Jonathan Sharp">
			<span class="name">Jonathan Sharp</span>
		</a>
		<a href="https://github.com/jdsharp/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/jdsharp/"><i class="foundicon-twitter"></i></a>

		<a href="http://twitter.com/jdsharp">Blog</a>

	</li>

	<li class="awirick">
		<a href="https://github.com/awirick/">
			<img src="https://secure.gravatar.com/avatar/c88f878b659d5b406c240361bba0ae5a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="">
			<span class="name"></span>
		</a>
		<a href="https://github.com/awirick/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/amwirick/"><i class="foundicon-twitter"></i></a>

	</li>

	<li class="alassek">
		<a href="https://github.com/alassek/">
			<img src="https://secure.gravatar.com/avatar/2a1bbd7c752e84764571f2e814f04259?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="Adam Lassek">
			<span class="name">Adam Lassek</span>
		</a>
		<a href="https://github.com/alassek/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/alassek/"><i class="foundicon-twitter"></i></a>

		<a href="http://lyconic.com/blog">Blog</a>

	</li>

	<li class="eliperelman">
		<a href="https://github.com/eliperelman/">
			<img src="https://secure.gravatar.com/avatar/8dc4af17fcbc9d8c1919462680e46c5a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="Eli Perelman">
			<span class="name">Eli Perelman</span>
		</a>
		<a href="https://github.com/eliperelman/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/eliperelman/"><i class="foundicon-twitter"></i></a>

		<a href="http://eliperelman.com">Blog</a>

	</li>

	<li class="zachleat">
		<a href="https://github.com/zachleat/">
			<img src="https://secure.gravatar.com/avatar/e1899004c71c7043343196103e210be3?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="Zach Leatherman">
			<span class="name">Zach Leatherman</span>
		</a>
		<a href="https://github.com/zachleat/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/zachleat/"><i class="foundicon-twitter"></i></a>

		<a href="http://www.zachleat.com/web/">Blog</a>

	</li>

	<li class="nicknisi">
		<a href="https://github.com/nicknisi/">
			<img src="https://secure.gravatar.com/avatar/202775f26bf746fee64e08d58645f475?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="Nick Nisi">
			<span class="name">Nick Nisi</span>
		</a>
		<a href="https://github.com/nicknisi/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/nicknisi/"><i class="foundicon-twitter"></i></a>

		<a href="http://nicknisi.com">Blog</a>

	</li>

	<li class="cfaddict">
		<a href="https://github.com/cfaddict/">
			<img src="https://secure.gravatar.com/avatar/9c9e876f010fd45cb3435666871891ec?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="Dan Vega">
			<span class="name">Dan Vega</span>
		</a>
		<a href="https://github.com/cfaddict/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/cfaddict/"><i class="foundicon-twitter"></i></a>

		<a href="http://www.danvega.org/blog ">Blog</a>

	</li>

	<li class="collinforrester">
		<a href="https://github.com/collinforrester/">
			<img src="https://secure.gravatar.com/avatar/08c356a216f73b39cf106cf3150faa1a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="">
			<span class="name"></span>
		</a>
		<a href="https://github.com/collinforrester/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/cforrester07/"><i class="foundicon-twitter"></i></a>

	</li>

	<li class="jgchristopher">
		<a href="https://github.com/jgchristopher/">
			<img src="https://secure.gravatar.com/avatar/0d634ca90d58ba262b42ebd6ba97268a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="John Christopher">
			<span class="name">John Christopher</span>
		</a>
		<a href="https://github.com/jgchristopher/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/jgchristopher/"><i class="foundicon-twitter"></i></a>

	</li>

	<li class="jmhobbs">
		<a href="https://github.com/jmhobbs/">
			<img src="https://secure.gravatar.com/avatar/1d85dfb12d57d182c3e870b46390d384?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="John Hobbs">
			<span class="name">John Hobbs</span>
		</a>
		<a href="https://github.com/jmhobbs/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/jmhobbs/"><i class="foundicon-twitter"></i></a>

		<a href="http://www.velvetcache.org/">Blog</a>

	</li>

</ol>