<ol class="presenters">

	<li class="jdsharp count-Infinity">
		<a href="https://github.com/jdsharp/">
			<img src="https://0.gravatar.com/avatar/14a58b5be276301bd1b1a92ff07077a4?d=https%3A%2F%2Fidenticons.github.com%2F6a75253d8b314a41530698f59f7edd5a.png" alt="Jonathan Sharp">
			<span class="name">Jonathan Sharp</span>
		</a>
		<a href="https://github.com/jdsharp/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/jdsharp/"><i class="foundicon-twitter"></i></a>

		<a href="http://twitter.com/jdsharp">Blog</a>

	</li>

	<li class="awirick count-5">
		<a href="https://github.com/awirick/">
			<img src="https://2.gravatar.com/avatar/c88f878b659d5b406c240361bba0ae5a?d=https%3A%2F%2Fidenticons.github.com%2F1ee3bb7cda8fe16eaf731b190fcf00b3.png" alt="">
			<span class="name"></span>
		</a>
		<a href="https://github.com/awirick/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/amwirick/"><i class="foundicon-twitter"></i></a>

	</li>

	<li class="alassek count-1">
		<a href="https://github.com/alassek/">
			<img src="https://1.gravatar.com/avatar/2a1bbd7c752e84764571f2e814f04259?d=https%3A%2F%2Fidenticons.github.com%2F1d5185083e4eb1c1b960a98994e08afc.png" alt="Adam Lassek">
			<span class="name">Adam Lassek</span>
		</a>
		<a href="https://github.com/alassek/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/alassek/"><i class="foundicon-twitter"></i></a>

		<a href="http://lyconic.com/blog">Blog</a>

	</li>

	<li class="eliperelman count-4">
		<a href="https://github.com/eliperelman/">
			<img src="https://0.gravatar.com/avatar/8dc4af17fcbc9d8c1919462680e46c5a?d=https%3A%2F%2Fidenticons.github.com%2Ff52034904f2a8a6a12a10c1fb23e2147.png" alt="Eli Perelman">
			<span class="name">Eli Perelman</span>
		</a>
		<a href="https://github.com/eliperelman/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/eliperelman/"><i class="foundicon-twitter"></i></a>

		<a href="http://eliperelman.com">Blog</a>

	</li>

	<li class="zachleat count-3">
		<a href="https://github.com/zachleat/">
			<img src="https://1.gravatar.com/avatar/e1899004c71c7043343196103e210be3?d=https%3A%2F%2Fidenticons.github.com%2F67b46df8fd1c23206e0572850ac213b5.png" alt="Zach Leatherman">
			<span class="name">Zach Leatherman</span>
		</a>
		<a href="https://github.com/zachleat/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/zachleat/"><i class="foundicon-twitter"></i></a>

		<a href="http://www.zachleat.com/web/">Blog</a>

	</li>

	<li class="nicknisi count-3">
		<a href="https://github.com/nicknisi/">
			<img src="https://0.gravatar.com/avatar/202775f26bf746fee64e08d58645f475?d=https%3A%2F%2Fidenticons.github.com%2F9cd91022d08b588b0a6e468a436bf56b.png" alt="Nick Nisi">
			<span class="name">Nick Nisi</span>
		</a>
		<a href="https://github.com/nicknisi/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/nicknisi/"><i class="foundicon-twitter"></i></a>

		<a href="http://nicknisi.com">Blog</a>

	</li>

	<li class="cfaddict count-1">
		<a href="https://github.com/cfaddict/">
			<img src="https://1.gravatar.com/avatar/9c9e876f010fd45cb3435666871891ec?d=https%3A%2F%2Fidenticons.github.com%2Fac4df8bd78df6bde44ba43d123ad9770.png" alt="Dan Vega">
			<span class="name">Dan Vega</span>
		</a>
		<a href="https://github.com/cfaddict/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/cfaddict/"><i class="foundicon-twitter"></i></a>

		<a href="http://www.danvega.org/blog ">Blog</a>

	</li>

	<li class="collinforrester count-1">
		<a href="https://github.com/collinforrester/">
			<img src="https://2.gravatar.com/avatar/08c356a216f73b39cf106cf3150faa1a?d=https%3A%2F%2Fidenticons.github.com%2F512715ba26576075e31e9780554ce63f.png" alt="">
			<span class="name"></span>
		</a>
		<a href="https://github.com/collinforrester/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/cforrester07/"><i class="foundicon-twitter"></i></a>

	</li>

	<li class="jgchristopher count-1">
		<a href="https://github.com/jgchristopher/">
			<img src="https://0.gravatar.com/avatar/0d634ca90d58ba262b42ebd6ba97268a?d=https%3A%2F%2Fidenticons.github.com%2Ff6026b2fee4a55c46ac4618a77825d6d.png" alt="John Christopher">
			<span class="name">John Christopher</span>
		</a>
		<a href="https://github.com/jgchristopher/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/jgchristopher/"><i class="foundicon-twitter"></i></a>

	</li>

	<li class="alexpgates count-1">
		<a href="https://github.com/alexpgates/">
			<img src="https://0.gravatar.com/avatar/b5a8049befdfe8aaebf5a6cece4e9126?d=https%3A%2F%2Fidenticons.github.com%2Ff5e080332ed8645988e7225a23353a3a.png" alt="Alex P. Gates">
			<span class="name">Alex P. Gates</span>
		</a>
		<a href="https://github.com/alexpgates/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/alexpgates/"><i class="foundicon-twitter"></i></a>

		<a href="http://whatcheer.com">Blog</a>

	</li>

	<li class="jmhobbs count-1">
		<a href="https://github.com/jmhobbs/">
			<img src="https://2.gravatar.com/avatar/1d85dfb12d57d182c3e870b46390d384?d=https%3A%2F%2Fidenticons.github.com%2F5f2484cfb8073580c9136f7a8894734e.png" alt="John Hobbs">
			<span class="name">John Hobbs</span>
		</a>
		<a href="https://github.com/jmhobbs/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/jmhobbs/"><i class="foundicon-twitter"></i></a>

		<a href="http://www.velvetcache.org/">Blog</a>

	</li>

	<li class="nicholaspetersen count-1">
		<a href="https://github.com/nicholaspetersen/">
			<img src="https://0.gravatar.com/avatar/e43aa56137bb54a636aaafa278103729?d=https%3A%2F%2Fidenticons.github.com%2Fef50fda8f5cd041f9f47b5ab5cda722d.png" alt="">
			<span class="name"></span>
		</a>
		<a href="https://github.com/nicholaspetersen/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/lessis/"><i class="foundicon-twitter"></i></a>

	</li>

	<li class="jerodsanto count-1">
		<a href="https://github.com/jerodsanto/">
			<img src="https://2.gravatar.com/avatar/37f5b02845d2bfa71641ec9736d58061?d=https%3A%2F%2Fidenticons.github.com%2F9f655cc8884fda7ad6d8a6fb15cc001e.png" alt="Jerod Santo">
			<span class="name">Jerod Santo</span>
		</a>
		<a href="https://github.com/jerodsanto/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/jerodsanto/"><i class="foundicon-twitter"></i></a>

		<a href="http://jerodsanto.net">Blog</a>

	</li>

	<li class="codyjames count-1">
		<a href="https://github.com/codyjames/">
			<img src="https://0.gravatar.com/avatar/668b29ffd82f27e42d29561145b4e61a?d=https%3A%2F%2Fidenticons.github.com%2Fcdc02e16eb75db678b1dfb00b1d7e5b3.png" alt="Cody Peterson">
			<span class="name">Cody Peterson</span>
		</a>
		<a href="https://github.com/codyjames/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/codypeterson/"><i class="foundicon-twitter"></i></a>

		<a href="http://codyjamespeterson.com">Blog</a>

	</li>

	<li class="mattdsteele count-1">
		<a href="https://github.com/mattdsteele/">
			<img src="https://0.gravatar.com/avatar/911466eedb687b909f7e66816223ceb2?d=https%3A%2F%2Fidenticons.github.com%2Fe6b47ab560b9ad53067c46d0ae4d04e5.png" alt="Matt Steele">
			<span class="name">Matt Steele</span>
		</a>
		<a href="https://github.com/mattdsteele/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/mattdsteele/"><i class="foundicon-twitter"></i></a>

		<a href="http://matthew-steele.com">Blog</a>

	</li>

	<li class="robhruska count-1">
		<a href="https://github.com/robhruska/">
			<img src="https://2.gravatar.com/avatar/ffffa52ae8108fdeb2559d804051556e?d=https%3A%2F%2Fidenticons.github.com%2F74e6b092d4b5aed7bf888fc4bc191d5d.png" alt="Rob Hruska">
			<span class="name">Rob Hruska</span>
		</a>
		<a href="https://github.com/robhruska/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/robhruska/"><i class="foundicon-twitter"></i></a>

		<a href="http://www.robhruska.com">Blog</a>

	</li>

</ol>