<ol class="presenters">

	<li class="robhruska count-2">

		<a href="https://github.com/robhruska/">

			<img src="https://gravatar.com/avatar/ffffa52ae8108fdeb2559d804051556e?d=https%3A%2F%2Fidenticons.github.com%2F74e6b092d4b5aed7bf888fc4bc191d5d.png&r=x&s=80" alt="Rob Hruska">
			<span class="name">Rob Hruska</span>
		</a>

		<a href="https://github.com/robhruska/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/robhruska/"><i class="foundicon-twitter"></i></a>


		<a href="http://www.robhruska.com">Blog</a>

	</li>

</ol>