<ol class="presenters">

	<li class="zachleat count-3">

		<a href="https://github.com/zachleat/">

			<img src="https://gravatar.com/avatar/e1899004c71c7043343196103e210be3?d=https%3A%2F%2Fidenticons.github.com%2F67b46df8fd1c23206e0572850ac213b5.png&r=x&s=80" alt="Zach Leatherman">
			<span class="name">Zach Leatherman</span>
		</a>

		<a href="https://github.com/zachleat/"><i class="foundicon-github"></i></a>


		<a href="https://twitter.com/zachleat/"><i class="foundicon-twitter"></i></a>


		<a href="http://www.zachleat.com/web/">Blog</a>

	</li>

</ol>