---
import Default from '../layouts/Default.astro';
import Posts from '../components/Posts.astro';
---

<Default>
	<div class="page-home">
		<div class="maxw">
			<article>
				<h2 class="a11y-only">Presented at NebraskaJS:</h2>
			</article>
			<Posts />
		</div>
	</div><!-- /.page-home -->
</Default>
