---
import Default from '../layouts/Default.astro';
import { getCollection } from 'astro:content';
const presenters = (await getCollection('presenters')).map(({ data }) => data);
import Bio from '../components/Bio.astro';
---

<Default>
	<article>
		<h2>Presenters Emeritus</h2>

		<ol class="presenters">
			{presenters.map(presenter => <Bio presenter={presenter} />)}
		</ol>
		<p><em>Ordered by first presentation date.</em></p>
	</article>
</Default>
