<div class="relative h-[50px] w-[100px]">
	<object data="/img/nebraska-outline-with-text-transparent.svg" type="image/svg+xml" class="h-full w-full">
		<img src="/img/nebraska-outline.png" alt="NebraskaJS Logo" />
	</object>
	<img
		src="/img/cornfield-640.jpg"
		class="absolute inset-0 h-full w-full opacity-[0.01] transition-opacity duration-1000 hover:opacity-100"
		style="mask: url(/img/nebraska-outline-with-text-transparent.svg); mask-size: 100% 100%; mask-repeat: no-repeat;"
	/>
</div>
