<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% if page.title %}{{ page.title }}—NebraskaJS{% else %}NebraskaJS{% endif %}</title>
		<link href="/atom.xml" rel="alternate" title="NebraskaJS" type="application/atom+xml">

		<link href="{{ site.distFolder }}all.min.css" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Raleway:600,400" rel="stylesheet">
		<meta name="dist" content="{{ site.distFolder }}">
	</head>
	<body>
		<div class="rail">
			<header>
				<a href="/" class="nejs-title">
					<object data="/img/nebraska-outline-with-text-transparent.svg" type="image/svg+xml">
						<img src="/img/nebraska-outline.png" alt="NebraskaJS Logo">
					</object>
					<img src="/img/cornfield-640.jpg" class="nejs-title-img">
					<h1>NebraskaJS</h1>
				</a>
			</header>
			<aside>
				<nav role="navigation">
					<div class="navigation">
						<div id="social" class="social">
							<a href="https://nejsconf.com/" class="conference">NEJS CONF 2016</a>
							<a href="http://www.meetup.com/ReactJS-Denver/" class="meetup">Join our Meetup!</a>
							<a href="/about/">About Us</a>
							<a href="/conduct/">Code of Conduct</a>
							<a href="/presenters/">Presenters</a>
							<a href="//twitter.com/nebraskajs" class="twitter"><i class="foundicon-twitter"></i> Twitter</a>
							<a href="//github.com/nebraskajs/" class="github"><i class="foundicon-github"></i> GitHub</a>
							<a href="//www.facebook.com/nebraskajs" class="facebook"><i class="foundicon-facebook"></i> Facebook</a>
							<a href="//plus.google.com/115220697074331366039/posts" class="googleplus"><i class="foundicon-google-plus"></i> Google Plus</a>
<!-- 							<a href="http://www.linkedin.com/groups/NebraskaJS-4790018" class="linkedin"><i class="foundicon-linkedin"></i> LinkedIn</a> -->
						</div>
						<div class="social other">
							<a href="http://techomaha.com/tag/nebraskajs/">Videos on Tech Omaha</a>
							<!--<a href="http://lanyrd.com/series/nebraskajs/">Events on Lanyrd</a>-->
						</div>
					</div>
				</nav>
			</aside>
		</div>
		<div class="content" data-role="main">
			<div class="next-meetup">
				<!-- <a class="title" href="http://www.meetup.com/ReactJS-Denver/"><h2>Omaha <abbr title="March">Mar</abbr> 8</h2></a> -->
				<!-- <a class="title" href="http://www.meetup.com/ReactJS-Denver/"><h2>Lincoln <abbr title="March">Mar</abbr> 17</h2></a> -->
			</div>

			{{ content }}
		</div><!-- /.content -->
		<script src="{{ site.distFolder }}global.min.js"></script>
	</body>
</html>
