---
layout: default
---

<article>
	<div class="maxw">
		<h1>{{ page.title }}</h1>

		<h2>Presented by {{ site.data.presenters[page.author].name }}{% if page.presented %}, {{ page.presented }}{% endif %}</h2>

		{% assign author = site.data.presenters[page.author] %}
		{% include bio.html presenter=author %}

		<div class="fluid-width-video-wrapper"><iframe src="{{ page.youtubeurl }}" frameborder="0" allowfullscreen></iframe></div>

{% if page.videolength %}
		<p>Video Length: {{ page.videolength }}</p>
{% endif %}

{% if page.meetuplink %}
		<h3>Related</h3>
		<ul>
			<li><a href="{{ page.meetuplink }}">Meetup Event</a></li>
		</ul>
{% endif %}

		{{ content }}
	</div>
</article>
