---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import '@/css/global.css';
import '@/css/social.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title ? `${title}-NebraskaJS` : 'NebraskaJS'}</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<!--<link href="/atom.xml" rel="alternate" title="NebraskaJS" type="application/atom+xml" />-->

		<!--<link href="{{ site.distFolder }}all.min.css" rel="stylesheet" />-->
		<link href="https://fonts.googleapis.com/css?family=Raleway:600,400" rel="stylesheet" />
		<!--<meta name="dist" content="{{ site.distFolder }}" />-->
	</head>
	<body class="text-js-dark bg-white font-sans leading-relaxed">
		<Header />
		<!-- Hero Section -->
		<slot />
		<Footer />
	</body>
</html>
